<html>
  <head>
    <title>EDITER UN GOSSIP !</title>
  </head>
  <body>
    <h1>On édite ici !</h1>
    <p>Vas-y corrige toi là.</p>
    <form action='/gossips/:id/edit' method='POST'>
      Saisi ta correction ici : <input type='text' name='comment'/>
      <input type='submit'/>
    </form>
  </body>
</html>
